body{
    font-family: 'Open Sans', sans-serif;
    border: 5px solid black;
    margin: 0;
}

#hero{
    background-image: url(img/faded-office.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#content{
    padding: 20px 0 100px 30px;
    width: 280px; 
}

h1{
    font-weight: 800;
    font-size: 40px;
}

h3{
    font-weight: 600;
    font-size: 20px;
}

#btn-chat{
    background-color: #0ea5e9;
    color: white;
    border: none;
    padding: 20px 40px;
    font-weight: bolder;
    margin-top: 5px;
}

.underline{
    border-bottom: 5px solid #0ea5e9;
}